body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid {
  width: 316px;
  justify-content: center;
  flex-wrap: wrap;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1.8rem;
  height: 100px;
  width: 100px;
  margin: 1px;
  border: 1px solid #333;
}

.info {
  width: 300px;
  height: 75px;
  margin-top: 5px;
  line-height: 1.5;
}

.players {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  padding: 25px 45px;
  position: absolute;
  top: 30px;
}

.players input, .players label {
  margin-top: 5px;
}

#btn-play {
  margin-top: 15px;
}